.nifty-v090br {
  background-color: rgba(250, 250, 250);
  border-color: rgba(234, 234, 234);
}
.nifty-agdzsy {
  color: #000000;
}
.nifty-qrz33h {
  color: #FFFFFF;
  background-color: #000000;
}
.nifty-qrz33h:hover {
  color: #000000;
  background-color: #FFFFFF;
}
.nifty-agdzsy {
  color: #000000;
}
